services:
  typesense:
    image: typesense/typesense:30.1
    restart: on-failure
    ports:
      - "${TYPESENSE_PORT}:8108"
    volumes:
      - ./typesense-data:${TYPESENSE_DATA_DIR}
    command: >
      --data-dir ${TYPESENSE_DATA_DIR}
      --api-key ${TYPESENSE_API_KEY}
      --enable-cors
  dashboard:
    image: bfritscher/typesense-dashboard
    container_name: vector-domain-search-api-dashboard-1
    restart: on-failure
    ports:
      - "8109:80"
    # Note: This dashboard runs in your browser and connects to 
    # http://localhost:8108 using your API Key.
    # http://localhost:8109